@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;700&display=swap');


@layer base {
  body {
    @apply font-[Urbanist]
  }
}


.day {
  background-image: url(./assets/jeremy-bishop-dvACrXUExLs-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.night {
  background-image: url(./assets/ryan-hutton-Jztmx9yqjBw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.overlay {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}